body {
    font-family: 'Noto Sans KR', sans-serif;
}
div {
    display: block;
}
img {
    width: 66px;
    height: 66px;
    display: block;
}
#main_wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.header {
    width: auto;
    height: auto;
}
.header_box {
    width: auto;
    height: 50px;
}
